<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
				<h2>About</h2>
				<hr>
				<p>Mussum Ipsum, cacilds vidis litro abertis. Sapien in monti palavris qui num significa nadis i pareci latim. Cevadis im ampola pa arma uma pindureta. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Quem num gosta di mé, boa gente num é.</p>
				<p>Interagi no mé, cursus quis, vehicula ac nisi. <a href="#">Me</a> faiz elementum girarzis, nisi eros vermeio. Detraxit consequat et quo num tendi nada. Nullam volutpat risus commodo, ut interdum diam laoreet. Sed non consequat odio.</p>
		</div>
		<div class="col-2 homepage_content">
				<h2>Stuff I've written</h2>
				<hr>
				<% @posts.each do |post| %>
					<h3><a href="#"><%= link_to post.title, post %></a></h3>
					<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
				<% end %>
		</div>
		<div class="col-3 homepage_content">
				<h2>Stuff I've built</h2>
				<hr>
				<% @projects.each do |project| %>
					<h3><a href="#"><%= link_to project.title, project %></a></h3>
					<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
				<% end %>
		</div>
</div>